<img src="bootstrap/imagens/logovisio.jpeg" id="LogoVisio" alt="LogoVisio" />



<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="bootstrap/imagens/telainicial_icone.png" alt="TelaInicialColaborador" width="20" height="20" class="me-2" /> Tela Inicial_Col
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TelaInicialCliente" >
                <img src="bootstrap/imagens/telainicial_icone.png" alt="TelaInicialCliente" width="20" height="20" class="me-2" /> Tela Inicial_Cliente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sessao"  >
                <img src="bootstrap/imagens/Sessao_icone2.png" alt="Sessao" width="20" height="20" class="me-2" /> Sessão
            </NavLink> 
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Orcamento">
                <img src="bootstrap/imagens/orcamento_icone.png" alt="Orçamento" width="20" height="20" class="me-2" />Orçamento
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pacote">
                <img src="bootstrap/imagens/pacote_icone.png" alt="Pacote" width="20" height="20" class="me-2" />Pacote
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agendamento">
                <img src="bootstrap/imagens/agendamento_icone.png" alt="Agendamento" width="20" height="20" class="me-2" /> Agendamento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pagamento">
                <img src="bootstrap/imagens/pagamento_icone.png" alt="Pagamento" width="20" height="20" class="me-2" /> Pagamento
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AcessoFotos">
                <img src=<img src="/bootstrap/imagens/sessao_icone2.png" alt="AcessoFotos" width="20" height="20" class="me-2" /> Acessos as fotos
            </NavLink>
        </div>
    
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listaCliente">
                <img src="bootstrap/imagens/listacliente_icone.png" alt="ListaCliente" width="20" height="20" class="me-2" /> Lista de cliente
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaColaborador">
                <img src="bootstrap/imagens/listacolaborador_icone.png" alt="ListaColaborador" width="20" height="20" class="me-2" /> Lista de Colaborador
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listaAgendamento">
                <img src="bootstrap/imagens/listaagendamento_icone.png"  alt="ListaAgendamento" width="20" height="20" class="me-2" /> Lista de Agendamento
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Configuracao2">
                <img src="bootstrap/imagens/configuracao_icone.png"  alt="Configuracao2" width="20" height="20" class="me-2" />Configuração
            </NavLink>
        </div>






    </nav>
</div>

