@page "/Agendamento"

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos</title>
    <link rel="stylesheet" href="/bootstrap/agendamento.css" />
</head>
<body>

    <div class="container">
        <div class="topo">
            <h1>AGENDAMENTOS</h1>
            <button class="salvar">Salvar</button>
        </div>

        <form class="formulario">
            <label>Cliente:</label>
            <input type="text" placeholder="">

            <label>Data:</label>
            <input type="date" placeholder="">

            <div class="linha">
                <div class="campo">
                    <label>Tipo de Sessão:</label>
                    <select>
                        <option value="">Selecione</option>
                        <option>Ensaio Individual</option>
                        <option>Casamento</option>
                        <option>Aniversário</option>
                        <option>Corporativo</option>
                    </select>
                </div>

                <div class="campo">
                    <label>Duração:</label>
                    <input type="text" placeholder="">
                </div>
            </div>

            <div class="linha">
                <div class="campo">
                    <label>Fotógrafo:</label>
                    <select>
                        <option value="">Selecione</option>
                        <option>João</option>
                        <option>Maria</option>
                        <option>Pedro</option>
                    </select>
                </div>

                <div class="campo">
                    <label>Observação:</label>
                    <input type="text" placeholder="">
                </div>
            </div>
        </form>
    </div>

</body>
</html>