@page "/Configuracao2"
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações - Cliente</title>
    <link href="/bootstrap/configuracao.css" rel="stylesheet" />
  </head>
<body>


    <div class="main-content">
        <h1>CONFIGURAÇÕES</h1>

        <div class="box">
            <h3>PREFERÊNCIAS DO SISTEMA</h3>
            <div class="option">
                <label>Modo Escuro</label>
                <label class="switch">
                    <input id="dark-mode-toggle" type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="option">
                <label>Atualizações automáticas</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>

        <div class="box">
            <h3>ALTERA SENHA E IDIOMA</h3>
            <label>Nova Senha</label>
            <input type="password" placeholder="Digite a nova senha">

            <label>Idioma</label>
            <select>
                <option>Selecione o idioma</option>
                <option>Português</option>
                <option>Inglês</option>
                <option>Espanhol</option>
            </select>

            <button>Salvar alteração</button>
        </div>
    </div>


</body>
</html>
