@page "/ListaAgendamento"

@using VisioLens_Blazor.Models;
@inject AgendamentoDAO agendamentoDAO

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Agendamento - VisioLens</title>
<link href="/bootstrap/listaagendamento.css" rel="stylesheet" />
</head>
<body>
        <!-- CONTEÚDO PRINCIPAL -->
        <main class="main-content">
            <div class="header">
                <h1>LISTA DE AGENDAMENTO</h1>
                <div class="colaborador">
                    <h2>Colaborador</h2>
                    <button class="listar-btn">Listar</button>
                </div>
            </div>

            <div class="search-box">
                <input type="text" placeholder="Pesquisar Agendamentos">
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Especialidade</th>
                    </tr>
                </thead>
               
            </table>
        </main>
        
  
</body>
</html>


