@page "/Orcamento"

@using VisioLens_Blazor.Models;
@inject OrcamentoDAO orcamentoDAO;

<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Orçamento</title>
<div class="container">
    <link href="/bootstrap/orcamento.css" rel="stylesheet" />

    <h1>Orçamento</h1>

    <form>
        <div>
            <label><i></i> Cliente:</label>
            <input type="text">
        </div>

        <div>
            <label><i></i> Fotografo:</label>
            <input type="text">
        </div>

        <div>
            <label><i></i> Pacote de Fotos:</label>
            <input type="text">
        </div>

        <div>
            <label><i></i> Valor total:</label>
            <input type="number" min="0" step="0.01">
        </div>

        <div>
            <label><i></i> Forma de Pagamento:</label>
            <select>
                <option value="">Selecione</option>
                <option>Dinheiro</option>
                <option>Cartão</option>
                <option>Pix</option>
            </select>
        </div>

        <div>
            <label><i></i> Status:</label>
            <input type="text">
        </div>

        <div>
            <label><i></i> Tipo de Sessão:</label>
            <input type="text">
        </div>

        <div class="button-container">
            <button type="submit">Salvar</button>
        </div>
    </form>
</div>
@* @code {
    private List<Orcamento> listaOrcamento = new();


    protected override void OnInitialized()
    {
        CarregarOrcamento();
    }

    private void CarregarOrcamento()
    {
        listaOrcamento = orcamentoDAO.ListarTodos();
    }

    }
 *@
</html>