@page "/Sessao"
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Tipo de Sessão</title
  <link href="/bootstrap/sessao.css" rel="stylesheet" />
</head>
    <form>
        <h1>Sessão</h1>
        <label><i></i> Duração (mín):</label>
        <input type="number" min="0">

        <label><i></i> Preço padrão (R$):</label>
        <input type="number" min="0" step="0.01">

        <label><i></i> Quantidade de fotos:</label>
        <input type="number" min="0">

        <label><i></i> Entrega (prazo em dias):</label>
        <input type="number" min="0">

        <label><i></i> Observações adicionais:</label>
        <input type="text">

        <label><i></i> Categoria:</label>
        <select>
            <option value="">Selecione</option>
            <option>Retrato</option>
            <option>Casamento</option>
            <option>Corporativo</option>
        </select>

        <div class="buttons">
            <button type="submit">Salvar</button>
            <button type="button">Cancelar</button>
        </div>
    </form>
</html>